/* HomePage.css */
.hero-container {
  position: relative;
  
}

.ParticleComponent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}

.hero-content {
  position: relative;
  z-index: 1;
}