/* Navbar.css */

.navbar {
  background-color: #091327;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: inherit;
  padding: 0 20px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: transform 0.3s ease-in-out;
}

.navbar-logo:hover {
  transform: scale(1.1);
}

.nav-menu {
  margin: auto;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

.nav-item {
  margin-left: 20px;
}

.nav-item a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #1ba3fd;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  margin-left: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.btn-login,
.btn-logout,
.btn-signup {
  background: linear-gradient(0deg, #0055ff, #0055ff, #4736ff 86%);
  margin: 5px 10px;
  border-radius: 10px;
}

.btn-login:hover,
.btn-logout:hover,
.btn-signup:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  background: #4434f5;
}

.btn i {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .navbar-logo {
    font-size: 20px;
  }
  .nav-item a {
    font-size: 14px;
  }
  .btn {
    font-size: 12px;
    padding: 8px 15px;
  }
}

.navbar-logo svg {
  width: 50px;
  height: 35px;
  margin-right: 10px;
}

.navbar-logo span {
  font-size: 18px;
  color: #f9f9f9;
  font-weight: bold;
  position: relative;
  top: -9px;
  font-family: system-ui;
}
@media (max-width: 768px) {
  .navbar {
    background-color: #091327;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0; /* Prilagodite visinu padding-a za manje rezolucije */
    z-index: 999;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: inherit;
    padding: 0 15px; /* Prilagodite padding za manje rezolucije */
  }

  .navbar-logo {
    font-size: 20px; /* Prilagodite veličinu fonta za manje rezolucije */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-logo:hover {
    transform: scale(1.1);
  }

  .nav-menu {
    margin: auto;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
  }

  .nav-item {
    margin-left: 10px; /* Smanjite margine između stavki za manje rezolucije */
  }

  .nav-item a {
    color: inherit;
    text-decoration: none;
    font-size: 14px; /* Prilagodite veličinu fonta za manje rezolucije */
    transition: color 0.3s ease;
  }

  .nav-item a:hover {
    color: #1ba3fd;
  }

  .auth-buttons {
    display: flex;
    align-items: center;
  }

  .btn {
    padding: 8px 15px; /* Prilagodite padding za manje rezolucije */
    margin-left: 10px; /* Smanjite margine između dugmadi za manje rezolucije */
    font-size: 12px; /* Prilagodite veličinu fonta za manje rezolucije */
  }

  .btn-login,
  .btn-logout,
  .btn-signup {
    margin: 5px 5px; /* Prilagodite margine za manje rezolucije */
  }
}
@media (max-width: 480px) {
  .navbar {
    background-color: #091327;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0; /* Prilagodite visinu padding-a za manje rezolucije */
    z-index: 999;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: inherit;
    padding: 0 15px; /* Prilagodite padding za manje rezolucije */
  }

  .navbar-logo {
    font-size: 20px; /* Prilagodite veličinu fonta za manje rezolucije */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-logo:hover {
    transform: scale(1.1);
  }

  .nav-menu {
    margin: auto;
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
  }

  .nav-item {
    margin-left: 10px; /* Smanjite margine između stavki za manje rezolucije */
  }

  .nav-item a {
    color: inherit;
    text-decoration: none;
    font-size: 14px; /* Prilagodite veličinu fonta za manje rezolucije */
    transition: color 0.3s ease;
  }

  .nav-item a:hover {
    color: #1ba3fd;
  }

  .auth-buttons {
    display: flex;
    align-items: center;
  }

  .btn {
    padding: 8px 15px; /* Prilagodite padding za manje rezolucije */
    margin-left: 10px; /* Smanjite margine između dugmadi za manje rezolucije */
    font-size: 12px; /* Prilagodite veličinu fonta za manje rezolucije */
  }

  .btn-login,
  .btn-logout,
  .btn-signup {
    margin: 5px 5px; /* Prilagodite margine za manje rezolucije */
  }
}
