/* Styles for the chat window */
.chat-container {
    display: flex;
    flex-direction: row;
    height: 550px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background: linear-gradient(161deg, #7ff, #4434f5);
  }
  
  /* Styles for the chat window */
  .previous-conversations {
    height: 330px;
    width: 750px;
    flex: 1;
    padding: 15px;
    overflow-x: hidden; 
    overflow-y: auto; 
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .previous-conversations > .message-bubbles {
    overflow-y: auto;
  }
    
    .user-input {
      flex: 1;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      margin-top: 20px; 
    }
    .bot-message {
      background-color: #000000;
      color: #fff;
      align-self: flex-start;
      animation: fadeInFromLeft 0.6s ease;
      border-radius: 30px;
      margin-top: 10px;
    }
    
    .user-message {
      background-color: #000000;
      color: #fff;
      align-self: flex-end;
      animation: fadeInFromRight 0.6s ease;
      border-radius: 30px;
      margin-top: 10px;
    }
    
    /* Styles for user input */
    input[type="text"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 30px;
      color: black;
      outline: none;
      font-size: 16px;
      background-color: rgba(255, 255, 255, 0.9);
    }
    
    button {
      margin-top: 10px;
      padding: 10px 20px;
      border: none;
      background: linear-gradient(0deg,#0055ff,#0055ff,#4736ff 86%);
      background-color: #007bff;
      color: #fff;
      border-radius:10px;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      transition: background-color 0.3s ease, transform 0.2s ease;
    }
    
    button:focus {
      outline: none;
    }
    
    button:hover {
      background-color: #0056b3;
      transform: scale(1.05);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    
    
    button:active {
      transform: scale(0.95);
      box-shadow: none;
    }
    /* Scrollbar customization */
    .previous-conversations::-webkit-scrollbar {
      width: 8px;
    }
    
    .previous-conversations::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 8px;
    }
    
    .previous-conversations::-webkit-scrollbar-thumb:hover {
      background-color: #aaa;
    }
    
    /* Animations */
    @keyframes fadeInFromLeft {
      from {
        opacity: 0;
        transform: translateX(-20px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    @keyframes fadeInFromRight {
      from {
        opacity: 0;
        transform: translateX(20px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    /* Additional styles for user messages */
    .user-message::before {
      content: '';
      position: absolute;
      bottom: 0;
      right: -20px;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid #007bff;
      border-bottom: 20px solid transparent;
    }
    
    .user-message::after {
      content: '';
      position: absolute;
      bottom: -18px;
      right: -16px;
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid #007bff;
      border-bottom: 16px solid transparent;
    }
    .chat-sidebar {
      width: 300px;
      background-color: #00000038;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    .chat-sidebar2 {
      width: 300px;
      background-color: #00000038;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    
    .buttons {
      display: flex;
      flex-direction: row;
    }
  
    .start-new-chat-button {
      background-color: #3498db;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 20px;
      margin-right: 20px;
    }
    .delete-all-chat-button {
      background-color: #db5334;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 20px;
    }
    
    .start-new-chat-button:hover {
      background-color: #2980b9;
    }
    
    .chat-content {
      flex: 1;
      padding: 10px 60px;
    }
    .conversation-restore-points {
      margin-top: 20px;
      border-radius: 10px;
      backdrop-filter: blur(10px);
      padding: 15px;
      overflow-y: scroll; 
      width:200px;
    }
    
    .restore-points-header {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      color:#000000;
    }
    
    .restore-point {
      padding: 8px;
      border-radius: 5px;
      margin: 5px 0;
      cursor: pointer;
      transition: background-color 0.3s ease;
      color: Black;
    }
    
    .restore-point.selected {
      background-color: #c5c5c5;
      color: white;
    }
    
    .message {
      padding: 12px 16px;
      margin: 5px;
      border-radius: 30px;
      max-width: 70%;
      position: relative;
      word-wrap: break-word;
      background-color: #f2f2f2;
      color: #000;
    }
    
    .chatbot-container  .btn.btn-login,
    .chatbot-container .btn.btn-signup { 
      visibility: hidden;
    }
    .restore-point.selected .DeleteIcon{
      background-color: #c5c5c5;
      color: rgb(253, 0, 0);
  }
  .model-selection {
    display: grid;
    flex-direction: row;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  label {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
  }
  .css-1nmdiq5-menu {
    color:black;
  }
  .css-b62m3t-container {
    position: relative;
    margin-top: 15px;
    box-sizing: border-box;
  }
  .remaining-prompts {
    font-size: 25px;
    margin-bottom: 25px;
    font-family: inherit;
    color:#000;
  }